<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FileDirectory" value="C:\SetYourPath"/>
    <add key="IV" value="SET LIKE:AO5dVxIldOMpOnV/T2xgAA=="/>
    <add key="Salt" value="SET LIKE:OnAOBxAMASpAX1OFVx9XxAprcAtyx2BOVlk6BRNSLi6sOSgDDllRT283PCA/dplfpzclNA66LOISLi8OUzOYpAIvxDtnVpsxGiNMRSA+R2IRxXAbLnoOc25lcGArSnxyOytxURxOdz5scxpAbGkAU2ZMdnpKPGM3D2VNA2NrBO8nGiZ1TnZOA2p1bzpONgcFAO15XlADZ2NOOUI2AXVaAm1KRFADLgZvBnMZFkOpVllpSUBGcSOyATADLOYOpUAsxm1NF3IOARAYC1lgaVIXOmApxOg1FBFFTx8OAAFxO3AxLDxfxOBnKggtLmdPGztgLRAzSzlKNOZdCUOTFppUKA=="/>
  </appSettings>
</configuration>